.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem 0;
}

.no-movies {
  text-align: center;
  font-size: 1.2rem;
  color: #aaa;
  padding: 2rem;
}